---
version: 2.1

orbs:
  win: circleci/windows@2.2.0

executors:
  linux_executor:
    docker:
      - image: circleci/openjdk:11.0.4-jdk-stretch
        auth:
          username: $DOCKER_USER_RO
          password: $DOCKER_PASSWORD_RO
    resource_class: medium
    working_directory: ~/jc-kzg-4844

  linux_executor_arm64:
    machine:
      image: ubuntu-2004:current
    resource_class: arm.medium
    working_directory: ~/jc-kzg-4844

  mac_os_executor:
    macos:
      xcode: "13.4.1"
    working_directory: ~/jc-kzg-4844

commands:
  checkout_code:
    description: "Checkout code"
    steps:
      - checkout
      - run:
          name: "Pull Submodules"
          command: git submodule update --init --recursive
  build_blst:
    parameters:
      make_env:
        default: ""
        type: string
    steps:
      - run:
          name: "Build blst"
          command: |
            cd c-kzg-4844/src
            make << parameters.make_env >> blst -B
  build_and_test_java_binding:
    parameters:
      make_env:
        default: ""
        type: string
    steps:
      - run:
          name: "Build and test java binding"
          command: |
            cd c-kzg-4844/bindings/java
            make << parameters.make_env >> build test -B

jobs:
  x86-64-linux-build:
    executor: linux_executor
    steps:
      - checkout_code
      - run:
          name: "Install dependencies"
          command: |
            sudo apt-get update
            sudo apt-get install clang
      - build_blst
      - build_and_test_java_binding
      - build_and_test_java_binding:
          make_env: "PRESET=minimal"
      - persist_to_workspace:
          root: ./
          paths:
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/amd64/mainnet
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/amd64/minimal

  arm64-linux-build:
    executor: linux_executor_arm64
    environment:
      JAVA_HOME: /usr/lib/jvm/java-11-openjdk-arm64
    steps:
      - checkout_code
      - run:
          name: "Install dependencies"
          command: |
            sudo apt-get update
            sudo apt-get install openjdk-11-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-11-openjdk-arm64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-11-openjdk-arm64/bin/javac
            sudo apt-get install clang-9
            clang-9 --version
      - build_blst
      - build_and_test_java_binding:
          make_env: "OS_ARCH=aarch64"
      - build_and_test_java_binding:
          make_env: "OS_ARCH=aarch64 PRESET=minimal"
      - persist_to_workspace:
          root: ./
          paths:
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/aarch64/mainnet
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/aarch64/minimal

  mac-os-build:
    executor: mac_os_executor
    steps:
      - checkout_code
      - build_blst
      - build_and_test_java_binding
      - build_and_test_java_binding:
          make_env: "PRESET=minimal"
      - build_blst:
          make_env: 'CC="cc -arch arm64"'
      - build_and_test_java_binding:
          make_env: 'CC_FLAGS="-target arm64-apple-macos" OS_ARCH=aarch64'
      - build_and_test_java_binding:
          make_env: 'CC_FLAGS="-target arm64-apple-macos" OS_ARCH=aarch64 PRESET=minimal'
      - persist_to_workspace:
          root: ./
          paths:
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/x86_64/mainnet
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/aarch64/mainnet
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/x86_64/minimal
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/aarch64/minimal

  windows-build:
    executor: win/default
    steps:
      - checkout_code
      - run:
          name: "Install dependencies"
          command: |
            choco install make
            choco install mingw
      - build_blst
      - run:
          shell: bash.exe
          name: "Build and test java binding"
          command: |
            echo "Building and testing for mainnet preset"
            cd c-kzg-4844/bindings/java
            make build -B
            ./gradlew.bat clean test
            echo "Building and testing for minimal preset"
            export PRESET=minimal
            make build -B
            ./gradlew.bat clean test
      - persist_to_workspace:
          root: ./
          paths:
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/amd64/mainnet
            - ./c-kzg-4844/bindings/java/src/main/resources/ethereum/ckzg4844/lib/amd64/minimal

  assemble:
    executor: linux_executor
    steps:
      - checkout_code
      - attach_workspace:
          at: ~/jc-kzg-4844
      - run:
          name: "Copy java classes and generated libraries"
          command: |

            cd c-kzg-4844/bindings/java/
            
            SRCDIR="../../../src/main/java/ethereum/ckzg4844"
            RESOURCEDIR="../../../src/main/resources/ethereum/ckzg4844"
            
            mkdir -p $SRCDIR $RESOURCEDIR
            
            cp src/main/java/ethereum/ckzg4844/*.java $SRCDIR
            
            cp -R src/main/resources/ethereum/ckzg4844/lib $RESOURCEDIR

      - run:
          name: "Build Jar"
          command: |
            ./gradlew --no-daemon --parallel build

      - run:
          name: "Check Jar"
          command: |
            ./gradlew --no-daemon --info checkJarContents

      - persist_to_workspace:
          root: .
          paths:
            - ./

      - store_artifacts:
          name: "Store Jar"
          path: build/libs

  publish:
    executor: linux_executor
    steps:
      - checkout_code
      - attach_workspace:
          at: .
      - run:
          name: "Publish"
          command: |
            ./gradlew --no-daemon --parallel checkJarContents publish

workflows:
  version: 2
  default:
    jobs:
      - x86-64-linux-build:
          filters:
            tags: &filters-release-tags
              only: /^[0-9]+\.[0-9]+\.[0-9]+(-[a-zA-Z0-9]+)?/
          context:
            - dockerhub-quorumengineering-ro
      - arm64-linux-build:
          filters:
            tags:
              <<: *filters-release-tags
          context:
            - dockerhub-quorumengineering-ro
      - mac-os-build:
          filters:
            tags:
              <<: *filters-release-tags
          context:
            - dockerhub-quorumengineering-ro
      - windows-build:
          filters:
            tags:
              <<: *filters-release-tags
          context:
            - dockerhub-quorumengineering-ro
      - assemble:
          requires:
            - x86-64-linux-build
            - arm64-linux-build
            - mac-os-build
            - windows-build
          filters:
            tags:
              <<: *filters-release-tags
          context:
            - dockerhub-quorumengineering-ro
      - publish:
          requires:
            - assemble
          filters:
            tags:
              <<: *filters-release-tags
            branches:
              only:
                - master
          context:
            - cloudsmith-protocols
            - dockerhub-quorumengineering-ro